<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Depression Sink</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        Depression Sink
      </h1>
      <nav class="uk-position-top-right">
        <a href="/" class="uk-button uk-button-text">Home</a>
        <a href="/dashboard" class="uk-button uk-button-text">Dashboard</a>
        {{#if loggedIn}}
        <a href="/" class="logout" class="uk-button uk-button-text">Logout</a>
        {{else}}
        <a href="/login" class="uk-button uk-button-text">Login</a>
        {{/if}}

      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>


    <footer>
      <h2>Thanks for visiting Depression Sink!</h2>
      <div>
        <a href="/contact" class="uk-button uk-button-text">Contact Us</a>
        <a href="/guideline" class="uk-button uk-button-text">Community Guidelines</a>

      </div>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>