<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Depression Sink</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        Depression Sink
      </h1>
      <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
             {{#if loggedIn}}
             <a href="/" class="logout">Logout</a>
             {{else}}
            <a href="/login">Login</a>
            {{/if}}
             
    </nav>
    </header>

    <main>
      {{{ body }}}
    </main>


    <footer>
      <h2>Thanks for visiting Depression Sink!</h2>
      <div>
          <a href="/contact">Contact Us</a>
          <a href="/guidlines">Community Guidelines</a>

      </div>
    </footer>
  </div>

   {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
 {{/if}}
 
</body>

</html>