<div>
    <h3>Contact Us</h3>
    <p> Macy Mannix: <a href="https://github.com/macykcool">https://github.com/macykcool</a><br/>
        Ghulam Zaka: <a href="https://github.com/GhulamZaka">https://github.com/GhulamZaka</a><br/>
        Jeralyn Bairoso: <a href="https://github.com/jbairoso">https://github.com/jbairoso</a><br/>
        Hector Romo: <a href="https://github.com/hectorromo06">https://github.com/hectorromo06</a>
    </p>
</div>