

<div class="card">
  <h3 class="card-header">Sign up</h3>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign up</button>
    <a class="login-link" href="/login">Login</a>
  </div>
</form>

</div>

<script src="/javascript/signup.js"></script>

{{!-- <div class="card">
  <h3 class="card-header">Sign up</h3>

  <form class="signup-form">
    <div>
      <label for="username-signup">username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="uk-button uk-button-default">Sign up</button>
      <a class="login-link uk-button uk-button-default" href="/login">Login</a>
    </div>
  </form>

</div>

<script src="/javascript/signup.js"></script> --}}