:root {
  --main-bg-color: #294c60;
  --secondary-bg-color: #adb6c4;
  --third-bg-color: #ffc49b;
  --dark-bg-text-color: white;
  --light-bg-text-color: #001b2e;
  --secondary-text-color: #ffefd3;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}


header {
  width: 100%;
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--dark-bg-text-color);
}

nav {
  margin-top: 2%;
  margin-right: 2%;
}

img{
  width: 100%;
  border-radius:10px 10px 0 0;
 }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1%;
}

.top-post {
  background-color: #adb6c4;
}

.recent-post {
  background-color: #ffc49b;
}