:root {
  --main-bg-color: #294c60;
  --secondary-bg-color: #adb6c4;
  --third-bg-color: #ffc49b;
  --dark-bg-text-color: white;
  --light-bg-text-color: #001b2e;
  --secondary-text-color: #ffefd3;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}


header {
  width: 100%;
  background-color: var(--main-bg-color);
  height: 70px;
}

h1 {
  color: var(--dark-bg-text-color);
 
}

nav {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* .card{

 border-radius: 10px;
 border:none;
 box-shadow: 10px 5px 10px rgba(0,0,0,0.6);

} */







.top-post {
  background-color: #adb6c4;
}

